@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --naranja: #FF8C32;   
    --azul: #06113C;   
    --gris: #DDDDDD;  
    --blanco: #EEEEEE;
    --bold: 900;  
    --medium: 700;
    --regular: 400;
    --thin: 300;
}

body {
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    background-color: var(--naranja);

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    background-color: var(--naranja);
    padding: 1rem 2rem 1rem 2rem;
}

/* menu */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu i {
    font-size: 2rem;
    color: var(--azul);
}

.containeritems {
    width: 100%;
    order: 1;
}

.items {
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
    display: none;
}
.items a {
    color: var(--azul);
}

items a:visited {
    color: var(--azul);
}


/* FORMS */

h2 {
    font-size: 15px;
    text-align: center;
    color: var(--azul);
    padding: 0 2rem 0 2rem;
}

.forms {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    flex-direction: column;
    padding: 0,5rem;
}

.formgrupo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 2rem 5px 2rem;
}

.formlabel {
    color: var(--azul);
}

input {
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--azul);
    padding: 15px;
}

input:focus {
    outline: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

a {
    text-decoration: none;
    color: var(--azul);
    font-weight: var(--medium);
    text-align: center;
}

.btnlogin {
    background-color: var(--azul);
    color: var(--gris);
    cursor: pointer;
    width: 100px;
    padding: 0 0 1px 0;
    font-weight: var(--medium);
} 

/* MEDIA */

@media (min-width:1024px) {
    /* menu */
    .menu {
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .containeritems {
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        font-weight: var(--bold);
    }
    .items {
        display: flex;
    }
    .btncontainer {
        display: none;
    }
}